.badge {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--sm);
	font-weight: 700;
	line-height: 1;
	font-size: 0.85rem;
	padding: var(--xs) var(--md);
	border-radius: var(--md);
	border: 2px solid var(--color-base);
	width: 150px;
}

.badge svg {
	height: 1.3em;
	width: 1.3em;
}

.badge.txtLight {
	color: var(--color-neutral);
}
