.hero {
	padding: var(--md);
}
.imgWrapper {
	display: grid;
	place-items: center;
}
.img {
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.title {
	font-size: var(--xl);
	margin-top: var(--2xl);
	margin-bottom: var(--xs);
}
