.hero {
	padding: var(--md);
}
.imgWrapper {
	display: grid;
	place-items: center;
}
.img {
	border-radius: 50%;
	border: var(--sm) solid var(--color-primary);
	outline: var(--xs) solid var(--color-base);
}
.title {
	font-size: var(--xl);
	margin-top: var(--2xl);
	margin-bottom: var(--xs);
}
