@import "@/styles/_mixins.scss";
.wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.header {
	padding: var(--md);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	gap: var(--sm);

	@include tablet {
		flex-direction: row;
	}
}

.main {
	width: 100%;
	max-width: var(--container-size-lg);
	padding-inline: var(--md);
	padding-block: var(--xl);
	margin-inline: auto;
	@include tablet {
		padding-block: var(--2xl);
	}
	@include desktop {
		padding-block: var(--3xl);
	}
}

.footer {
	padding: var(--sm) 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--lg);
}
