@import "@/styles/_mixins.scss";

.header {
	padding: var(--md);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	gap: var(--sm);

	@include tablet {
		flex-direction: row;
	}
}

.main {
	max-width: var(--container-size-lg);
	padding-inline: var(--md);
	margin-inline: auto;
}
