@import "_reset.scss";
@import "_entryAnimation.scss";

:root {
	// Colors
	--color-base: hsl(39, 29%, 12%);
	--color-neutral: hsl(39, 100%, 97%);
	--color-neutral-secondary: hsl(0, 0%, 100%);
	--color-primary: hsl(39, 100%, 50%);
	--color-diasbled-bg: hsl(39, 5%, 80%);
	--color-diasbled-text: hsl(39, 5%, 60%);
	--color-success: hsl(146, 100%, 26%);
	--color-error: hsl(10, 83%, 53%);

	// Sizes (golden ratio)
	--xs: 6px;
	--sm: 10px;
	--md: 16px;
	--lg: 26px;
	--xl: 42px;
	--2xl: 68px;
	--3xl: 110px;
	--4xl: 178px;
	--5xl: 288px;
	--6xl: 466px;

	// Container sizes
	--container-size-xs: 540px;
	--container-size-sm: 720px;
	--container-size-md: 960px;
	--container-size-lg: 1140px;
	--container-size-xl: 1320px;
}

body {
	font-family: var(--font-text);
	font-size: var(--md);
	background-color: var(--color-neutral);
	color: var(--color-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}

h1 {
	font-size: var(--xl);
}

h2 {
	font-size: var(--lg);
}

p {
	line-height: 1.8;
}
