.wrapper {
	h2 {
		margin-bottom: var(--lg);
	}
	h3 {
		margin-top: var(--xl);
		margin-bottom: var(--lg);
	}
	p:not(:last-child),
	ul:not(:last-child) {
		margin-bottom: var(--lg);
	}
	ul {
		list-style: square;
		padding-left: var(--xl);
	}
}
