:root {
	/* Colors */
	--color-base: hsl(39, 29, 12);
	--color-neutral: hsl(39, 51, 90);
	--color-primary: hsl(39, 91, 69);
	--color-secondary: hsl(0, 0, 100);

	/* Sizes (golden ratio) */
	--size-xs: 6px;
	--size-sm: 10px;
	--size-md: 16px;
	--size-lg: 26px;
	--size-xl: 42px;
	--size-2xl: 68px;
	--size-3xl: 110px;
	--size-4xl: 178px;
	--size-5xl: 288px;
	--size-6xl: 466px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	font-family: var(--font-text);
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}
