@import "@/styles/_mixins.scss";

.main {
	height: 100dvh;
	display: grid;
	place-items: center;
	gap: var(--lg);

	@include desktop {
		grid-template-columns: 5fr 7fr;
		grid-template-rows: 1fr auto;
	}
}

.footer {
	padding: var(--sm) 0;
	@include desktop {
		grid-column: 1 / span 2;
	}
}
