.link {
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: var(--sm);
	font-size: var(--lg);
	font-family: var(--font-heading);
	font-weight: 700;
	padding-inline: 0.7rem;
}

.link {
	overflow: hidden;
	position: relative;
}

.text {
	--link-padding: 0.2em 0em;
	--skew-angle: 15deg;

	display: block;
	padding: var(--link-padding);
	transition:
		translate 300ms ease-in-out,
		transform 200ms 200ms ease-in-out;
	transform-origin: bottom left;
}
.text::after {
	content: attr(data-content);
	padding: var(--link-padding);

	position: absolute;
	top: 100%;
	left: 0;
	transform: skewY(calc(2 * var(--skew-angle)));
	transform-origin: top left;
	transition: transform 200ms 200ms ease-in-out;
}

.link:hover .text {
	translate: 0 -100%;
	transform: skewY(calc(-1 * var(--skew-angle)));
}

.link:hover .text::after {
	transform: skewY(var(--skew-angle));
}

.logo {
	animation: bounceout 200ms;
}

.link:hover .logo {
	animation: bouncein 600ms cubic-bezier(0.28, 0.84, 0.42, 1) forwards;
}

@keyframes bouncein {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(1.5);
	}
	50% {
		transform: scale(0.9);
	}
	75% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes bounceout {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}
